[Unit]
Description=ShoDoHFlo Packet Flow Agent
Requires=named.service
After=named.service redis.target

[Service]
Type=simple
ExecStart=/usr/local/share/shodohflo/agents/pcap_agent.py %i 10.0.0.0/8
Restart=on-failure

[Install]

