<!DOCTYPE html>
<html>
  <head>
    <title>DNS + Netflow Correlator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='graph2.css') }}"/>
 </head>
  <body>
    <h1>DNS &amp; Netflow Correlator</h1>
    <form method="GET" action="{{ url_for('graph', origin=origin) }}"><table>
      <tr>
        <td>
          <p>Origin:<br/>
            &nbsp;&nbsp;<input type="radio" name="origin" value="address" 
              {% if origin == "address" %} checked {% endif %}/>&nbsp;Address
            &nbsp;&nbsp;<input type="radio" name="origin" value="fqdn" 
              {% if origin == "fqdn" %} checked {% endif %}/>&nbsp;FQDN
          </p>
        </td>
        <td>
          <p>Prefix:<br/>
            &nbsp;&nbsp;<input type="text" name="prefix" value="{{ prefix }}"/> 
          </p>
        </td>
        <td>
          <p>Filter By:<br/>
            &nbsp;&nbsp;<select name="filter">
{% for option in filter_options %}
  <option value="{{ option.value }}" {% if option.selected %} selected {% endif %} /> {{ option.value }}
{% endfor %}
                        </select>
          </p>
        </td>
        <td class="cbx">
          <p>show resolutions from all addresses in prefix:
             <input type="checkbox" name="all" value="all" {% if all %} checked {% endif %} />
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          {% if message %}<p class="message">{{ message }}</p>{% endif %}
          <p>
            <input type="submit" name="update" value="Update"/>&nbsp;
            &nbsp;<input type="submit" name="clear" value="Clear"/>&nbsp;
            <input type="hidden" name="template" value="{{ template }}"/>
          </p>
        </td>
      </tr>
    </table></form>

    <div class="flows">
    {% autoescape false %}
{% for row in table %}
    <p><div class="iblock">{{ row }}</div></p>
{% endfor %}
    {% endautoescape %}
    </div>
    
    <div class="credits">
      <p>Copyright (c) 2019 Fred Morris, Tacoma WA. consulting@m3047.net. Apache 2.0 license.
         GitHub: <a href="https://github.com/m3047/shodohflo">https://github.com/m3047/shodohflo</a>
      </p>
    </div>
  </body>
</html>
